<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioRoam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66292E121EE748C300EE7EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66292E261EE748C400EE7EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66292E311EE748C400EE7EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
